.mantine-RichTextEditor-typographyStylesProvider{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
    flex-grow: 1;
}
.mantine-Accordion-content{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.mantine-AppShell-main{
    padding-bottom: 18px;
}
.mantine-Textarea-input{
    font-weight: bold;
}
.rte {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 94px);
}
.rte-content .mantine-RichTextEditor-content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
body{
    border-radius: 0px !important;
}
